{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class='mt-4'>Formulaire de connexion</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path('security.login')}}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Adresse e mail </label>
                <input type="email" value="{{last_username}}" class="form-control" id="username" placeholder="exemple@symrecipe.fr" aria-describedby="emailHelp" name="_username">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="********"
            </div>

            <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
        </form> 
    </div>
{% endblock %}
